Assigning int

In [1]:
number = 6
print(number)

6

Assigning float

In [6]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

Addition

num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

Subtraction

In [10]:
num1 = 2
num2 = 5.4

result_diff = 5 - num1

print(result_diff)

3

Multiplication

In [11]:
result_mul = num1 * num2
print(result_mul)

result_mul += 2
print(result_mul)

10.8
12.8

Division

In [12]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

Floor Division

In [14]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

Modulo

In [16]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

Exponential

In [17]:
square = 5 ** 2
print(square)

25

String Assignment

In [20]:
name = "Brandon"
print(name)

Brandon

print() - Don't forget about end=" "

In [23]:
print("This is my first name:", name)

print("Full Name:", name, end=" Apol")

This is my first name: Brandon
Full Name: Brandon Apol

String Concatenation

In [26]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

Type Conversion

In [30]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

input()

In [35]:
# input will always return a string

name = input("What is your name? ")
print("Nice to meet you, " + name)

What is your name? nathan
Nice to meet you, nathan

format()

In [34]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 13
You are 13 nathan and you are getting wiser!
13 is a great time in life!!!

Old Way (python 2)

In [58]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 13 and you look great for your age!

if Statements

Available operators: Greater(>), Less(<), Equal(==)
Greater or Equal(>=), Less or Equal(<=)

Truth Tree:
T and F = F
T and T = T
T // F = T
F // T = T
F // F = F

In [59]:
num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print('Equal Values')
# else:
#     print('Not Equal')

if num2 > num1 or num3 > 0:
    print('Num2 is greater')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('Equal values')

Num2 is greater

"is" keyword (==)
The is keyword is for checking for the same object but not the same value

In [61]:
num3 = 55

if num3 == 55:
    print('This is the exact number/object')

This is the exact number/object

"in" keyword
Check if a character is in a string

In [62]:
char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

"not in" keyword

In [63]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

Using "and"/"or" with if Statements

In [64]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')

# If with "or" statement    
if num_13 == num_14 or num_11 > num_12:
    print('False and True')

True and True
False and True

Elif OR Else Statements

In [65]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith.")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? Brandon
The name is Brandon

For Loops

Syntax - for counter in condition

Continue Statement as well

In [55]:
name = "Nathan Curtis"

for i in name:
    if i == "a":
        continue
    print(i)

N
t
h
n

C
u
r
t
i
s

In [ ]:
Using "in" keyword
SEE ABOVE

Break Statement
Will break out of current loop

In [66]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

Pass Statement
Mostly used as a placeholder, and will continue on same iteration

In [68]:
name = "Nathan Curtis"

for i in name:
    pass

Double For Loops

In [69]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

While Loops
Syntax - while keyword, condition statement

In [70]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

Looping "While True" - Dangerous practice!

In [71]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop? ")
    if user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop? No
Infinite Loop
Would you like to stop? Yes

While & For Loops Used Together

In [73]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

Built-In Functions

range()
range(start, stop, step)

In [76]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

len()
Checks length of a variable

In [77]:
name = "Max"

length = len(name)
print(length)

3

help()
Use this function to view more info about a python function

In [78]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

isinstance()
Check a variable to find out what an object family or data type it belongs to
isinstance(var, type)

In [84]:
num = 4.5021
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

4.5021 is a float!

abs() - absolute value

In [85]:
print(abs(-5))

5

Try and Except
Use this to log out graceful and useful error messages
Does not stop the program

In [87]:
try:
    input_num = int(input("Guess a number"))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a numberzoom
That didn't work! Change your input to a number!

Declaring Lists

In [57]:
list_1 = []

names = ['max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

Indexing a List

In [ ]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

#Print starting at the back and display in reverse order
print(names[::-1])

.append()

In [88]:
names.append("Nathan")
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'Nathan']

.insert()

In [89]:
names.insert(3,"Devon")
print(names)

['max', 'cindy', 'kathy', 'Devon', 'bob', 'nate', 'Nathan']

.pop()
Defaults to the last value if no parameter is given
Pop returns the element that was removed in case you want to assign it to a variable

In [90]:
my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'Devon', 'bob', 'nate', 'Nathan']

.remove()
Value to be removed rather than index

In [91]:
names.remove("Nathan")
print(names)

['max', 'cindy', 'Devon', 'bob', 'nate']

del()
Goes by index, rather than value
Be careful with del, it can cause indexing errors if not used carefully

In [92]:
del(names[1])
print(names)

['max', 'Devon', 'bob', 'nate']

Concatenating Two Lists
Will append two lists together, will not add values

In [95]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

Lists Within Lists
Lists can hold ANY type of other element! Including other lists
They can go as deep as you want; this is called nested lists

In [94]:
names = ["Max", "sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][1])

['Max', 'sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

Looping Through Lists
Two ways to loop through a list. One is by index; the other is by using the "in" keyword

In [97]:
# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with "in"
for i in names:
    print(i)

Max
sam
Josh
['Sally', 'Sue', 'Tameka']
Max
sam
Josh
['Sally', 'Sue', 'Tameka']

Exercise #1

Cube Number Test... Print out all cubed numbers up to the total value of 1000. Meaning that if the cubed number is over 1000, break the loop.

In [98]:
for i in range(1, 1001):
    if i**3 > 1000:
        break
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

Exercise #2

Get first prime numbers up to 100.

In [100]:
# Hint::
# An else after an if runs if the if didn't
# An else after a for runs if the for didn't break

lower = 1
upper = 100

for num in range(lower, upper+1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Exercise #3

Take in a users input for their age, if they are younger than 18, print kids. If they're 18-65, print adults. Else, print seniors.

In [102]:
age = int(input("Enter your age: "))
if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

Enter your age: 19
adults